<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0218" targetFramework="net46" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net46" />
  <package id="MahApps.Metro" version="2.0.0-alpha0170" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks" version="3.0.0-alpha0096" targetFramework="net46" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net46" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net46" />
  <package id="WindowsAPICodePack-ExtendedLinguisticServices" version="1.1.1" targetFramework="net46" />
  <package id="WindowsAPICodePack-Sensors" version="1.1.1" targetFramework="net46" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net46" />
</packages>